{% extends 'main/base.html' %}

{% block title %}Добавить новость{% endblock %}

{% block content %}
    <div class="features">
        <h1>Создать новость</h1>
        <form method="post">
            {% csrf_token %}
            {{ form.title }}<br>
            {{ form.text }}<br>
            {{ form.created_date }}<br>
            {{ form.category }}
            {{ form.user_id }}<br>
            {% if error %}
                <div class="error-message">{{ error }}</div>
            {% endif %}
            <button class="btn btn-success" type="submit">Добавить новость</button>
        </form>
    </div>
{% endblock %}